@import "normalize";

@import "constants";

@import "blocks/btn";
@import "animate.css";
@import "animate-custom";

:root {
    font-size: 100px;
    font-family: 'Lobster Two', cursive;

    background-color: #202020;
}

* {
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;

    position: relative;

    margin: 0 auto;

    max-width: 500px;
    height: 100%;
    padding: 20px 25px;
}

.flex {
    display: flex;

    &_row {
        flex-direction: row;
        justify-content: space-between;
    }
}

.next-balls-container {
    width: 180px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}