.cell {
	flex-shrink: 1;
	flex-grow: 1;
	position: relative;
	margin: 1px;
	text-align: center;
	font-size: 0.2rem;
	cursor: pointer;

	&_small {
		.cell__content {
			$size: 40%;
			$padding: (100% - $size) / 2;
			left: $padding;
			right: $padding;
			top: $padding;
			bottom: $padding;
		}
	}

	&::after,
	&:hover::after {
		content: '';
		display: block;
		padding-top: 100%;
		background-color: #DDDDDD;
	}

	&:hover::after {
		background-color: #9D9D9D;
	}

	&__content {
		z-index: 10;
		position: absolute;

		$size: 90%;
		$padding: (100% - $size) / 2;
		left: $padding;
		right: $padding;
		top: $padding;
		bottom: $padding;

		border-radius: 50%;

		&_active {
			pointer-events: none;
		}

		&::before,
		&::after {
			content: '';

			position: absolute;

			display: block;

			width: 100%;
			height: 100%;

			border-radius: 50%;
		}

		&::before {
			z-index: 5;
		}

		&::after {
			$offset: 3%;
			top: $offset;
			left: $offset;
		}

		$darken: 10;
		&_red {
			$red: #F34235;
			&::before {
				background-color: $red;
			}
			&::after {
				background-color: darken($red, $darken);
			}
		}

		&_blue {
			$blue: #2095F2;
			&::before {
				background-color: $blue;
			}
			&::after {
				background-color: darken($blue, $darken);
			}
		}

		&_green {
			$green: #4BAE4F;
			&::before {
				background-color: $green;
			}
			&::after {
				background-color: darken($green, $darken);
			}
		}

		&_brown {
			$brown: #785447;
			&::before {
				background-color: $brown;
			}
			&::after {
				background-color: darken($brown, $darken);
			}
		}

		&_indigo {
			$indigo: #3E50B4;
			&::before {
				background-color: $indigo;
			}
			&::after {
				background-color: darken($indigo, $darken);
			}
		}

		&_yellow {
			$yellow: #FEEA3A;
			&::before {
				background-color: $yellow;
			}
			&::after {
				background-color: darken($yellow, $darken);
			}
		}

		&_orange {
			$orange: #FE9700;
			&::before {
				background-color: $orange;
			}

			&::after {
				background-color: darken($orange, $darken);
			}
		}

		&_pink {
			$pink: #E81D62;
			&::before {
				background-color: $pink;
			}

			&::after {
				background-color: darken($pink, $darken);
			}
		}

		&_purple {
			$purple: #9B26AF;
			&::before {
				background-color: $purple;
			}

			&::after {
				background-color: darken($purple, $darken);
			}
		}

		&_grey {
			$grey: #555;
			&::before {
				background-color: $grey;
			}

			&::after {
				background-color: darken($grey, $darken);
			}
		}
	}
}
