@import '../../../../../../scss/constants';

.field {
    position: relative;

    width: 100%;

    background-color: #747474;

    color: $color-primary;

    &::after {
        content: '';

        display: block;

        padding-top: 100%;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

        position: absolute;

        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    &__row {
        display: flex;
        flex-wrap: nowrap;

        width: 100%;
    }
}
