html(lang="en")
    head
        title Lines
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="theme-color" content="#fff")
        //- link(rel="manifest" href="manifest.json")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="all")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster+Two")
        link(rel="stylesheet" href="/css/main.css")
    body
        #app
            | !{markup}
        noscript
            | This app requires javascript enabled
    script(src="/js/application.js")
