@import "../constants";

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;

    border-radius: 3px;

    font-size: 0.5rem;
    text-align: center;
    color: white;

    background-color: $primary-text-color;

    border: 2px solid lighten($primary-text-color, 20);

    // box-shadow: 2px 2px darken(#FEF8C3, 20);

    cursor: pointer;

    transition: 0.3s;

    &:hover {
        color: $primary-text-color;
        background-color: lighten($primary-text-color, 20);

        transition: 0.3s;
    }
}