@import "../../../../../../scss/constants";

.score {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    min-width: 200px;
    padding: 20px;

    font-size: 0.5rem;
    text-align: right;
    color: white;

    border: 2px solid lighten($primary-text-color, 20);
    // text-shadow: 1px 2px darken(#FEEA3A, 20);

    // background-color: #009587;
    // box-shadow: 3px 3px darken(#009587, 5);
}
