.main-menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;

    &__item {
        font-size: 0.32rem;

        & + & {
            margin-top: 20px;
        }
    }
}